<!DOCTYPE html>
<html>
<head>
	<title>
		WHiztok
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
	<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="plugins/bootstrap.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row col-md-12 col-xs-12 col-sm-12" id="head_bar">
			<div class="col-md-6 hidden-xs hidden-sm col-xs-12" id="tagline">
				An unknown error occured.
			</div>
			<div class="visible-xs col-xs-12 col-sm-12" id="tagline">
				<font style="color:#fff"> Error !.</font>
			</div>
		</div>
	</div>
</body>
</html>