	<!doctype html>
	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/call.css">
			<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>
			<script type="text/javascript" src="javascripts/script.js"></script>
			<script type="text/javascript" src="javascripts/call.js"></script>	

		</head>
		<body>
			<div class="col-md-12" id="head_bar">
				<div class="col-md-2 col-md-offset-1 col-xs-4">
					<div id="logo" class="col-md-12">WZ</div>
				</div>
				<div class="col-md-6 col-xs-8" id="tagline">
					Home
				</div>
				<div class="col-md-2 col-md-offset-1 msgs">  
					<a class="override" href="#"><span id="notif" class="tools"> </a></span>&nbsp;
					<a class="override" href="/setting" ><span id="setting" class="tools"></span></a>&nbsp;
					<a class="override" href="/logout"><span id="logout" class="tools"></span></a>
				</div>
			</div>
			<div class="container-fluid row">
				<div class="row">
					<div class=" col-md-2 hidden-xs" id="left_bar">
						<div class="row">
							<div class="propic_wrapper">
								<div class="col-md-12 pic_out">
									<div class="col-md-6 col-md-offset-3 profile_pic ">
										<img src="images/one.jpg" height="70px" width="70px" class="img-circle">
									</div>
								</div>
								<div class="col-md-12 name_out">
									<div class="name_in"><div class="namein">hello</div></div>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="list_wrapper">
								<ul>
									<li class ="currentPage"><span class="line"></span><span  id="op_dash"></span> <a id="currentPage" class="override" href="#">Dashboard</a></li>
									<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
									<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
									<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right_bar col-md-10 col-xs-12">
						<div class="title_bar row">
							<div class="title1"><span id="home"></span>Home</div>
							<div class="title2"><span id="dash"></span>Dashboard</div>
						</div>
						<div class="heading col-md-12">
							<div class="col-md-4 heading_name">
								<div class="row h_name">
									<div class="h_name_in">Dashboard</div>
								</div>
								<div class="row welcome">
									<div class="welcome_name">Welcome hello</div>
								</div>
							</div>
						</div>
						<div class="row vdocall">
							<div id="answerer" class="col-xs-12">
								<div class="answerer_info col-xs-12">
									<div class="col-md-2 col-xs-4 anspic_wrapper">
										<img src="images/one.jpg" class="img-responsive" style="height: 100%">
									</div>
									<div class="col-md-10 col-xs-8 ansinfo_wrapper">
										<div class="person">
											<div class="person_name">Nishant Singh</div>
										</div>
										<div class="ratings">
											<div class="rate">Ratings</div>
										</div>
										<div class="status">
											<div class="stat"><span id="status"></span><b>online</b></div>
										</div>
									</div>
								</div>
								<div class="call col-md-2 col-xs-2">

									<button class="btn vdobtn">Video Call</button>

								</div>

							</div>
							<div class="review1">

								<button class="btn vdobtn" data-toggle="modal" data-target=".review" id="rev">Review</button>

								

							</div>
							
						</div>
						<div class="modal fade review" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content  ">
									<div class="thumbnail" id="vote">
										Hey, Vote for me
									</div>
									<div class="voteid thumbnail">
										<div class="col-md-6 col-xs-6 up">

											<button class="btn vdobtn" data-toggle="modal" data-target=".upvote" id="toggler" ><span id="up"></span>Upvote</button>
														
										</div>
										<div class="col-md-6 col-xs-6 ">
											<button class="btn vdobtn" id="downvote"><span id="down"></span>Downvote</button>

											
														
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade upvote" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="thumbnail" id="vote1">
										Are you satisfied with the answer?
									</div>
									<div class="voteid thumbnail">
										<div class="col-md-6 col-xs-6 yes">

											<button class="btn vdobtn" id="satisfied">Yes</button>			
										</div>
										<div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2 no">
											<button class="btn vdobtn">No</button>

													
										</div>
										
									</div>
								</div>
							</div>
						</div>						

					</div>
				</div>
			</div>
		
	
		</body>
	</html>