	<!doctype html>
	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/dashboardnew.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>	
			<script type="text/javascript" src="socket.io/socket.io.js"></script>
			<script type="text/javascript" src="plugins/peer.min.js"></script>
			<script type="text/javascript" src="javascripts/clients.js"></script>
						

		</head>
		<body>
			
			<%-include videomodel%>
			<%-include header.ejs -%>
			<div class="container-fluid row">
				<div class="row">
					<div class=" col-md-2 hidden-xs" id="left_bar">
						<div class="row">
							<div class="propic_wrapper">
								<div class="col-md-12 pic_out">
									<div class="col-md-6 col-md-offset-3 profile_pic ">
										<img src="<%=image%>" height="70px" width="70px" class="img-circle">
									</div>
								</div>
								<div class="col-md-12 name_out">
									<div class="name_in"><div class="namein"><%=user.fullName%></div></div>
									<input style="display:none" type="text" id="user_id" value=<%=user._id%> />
									<input style="display:none" type="text" id="user_name" value=<%=user.fullName%> />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="list_wrapper">
								<ul>
									<li class ="currentPage"><span class="line"></span><span  id="op_dash"></span> <a class="override" id="current" href="#">Dashboard</a></li>
									<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
									<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
									<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right_bar col-md-10 col-xs-12">
						<div class="title_bar row">
							<div class="title1"><span id="home"></span>Home</div>
						</div>
						<div class="heading col-md-12">
							<div class="col-md-4 heading_name">
								<div class="row h_name">
									<div class="h_name_in">Dashboard</div>
								</div>
							</div>
						</div>
						<div class="ques_list col-md-12">
							<div id="show">
						 
						
							</div>
						</div>
					</div>
				</div>
			</div>
		
	<%var total=JSON.stringify(questions.length)%>
	<%var questionData=JSON.stringify(questions)%>
	<%var userData=JSON.stringify(user)%>
	
	<script type="text/javascript">
		$(document).ready(function(){
			var ques=<%-questionData%>;
			var user=<%-userData%>;
		if(<%-total%> >0){
			for(var i= <%-total%> -1;i >=0 ;i--){
				var display =0;
				var qtags=ques[i].tags;
				
				if(ques[i].tags.length === 0 ||user.skills.length === 0 ){
					display=1;
				}
				else{
					for(var j=0;j<ques[i].tags.length;j++){
							for(var k=0;k<user.skills.length;k++){
								if(ques[i].tags[j].toLowerCase()===user.skills[k].toLowerCase()){
									display=1;
								}

							}
					}
				}
				
				if(display===1 && ques[i].answered !==true){
					var title=ques[i].title;
					var desc=ques[i].description;
					var id=ques[i]._id;
					name=ques[i].askedBy.name;
					pid=ques[i].askedBy.id;
					time=ques[i].postDate;
					index=time.indexOf('GMT');
					date=time.substring(0,index);
					var imgpath='../images/'+pid+'.jpg';
					var data='<div id="ques_wrapper" class="col-md-12 thumbnail col-xs-12">'+
									'<div class="ques col-md-8 col-xs-12">'+
										'<a href="/answer?id='+id+'"><div class="ques_title">'+title+'</div></a>'+
										'<div class="ques_desc" style=" word-wrap:break-word;width: 600px;height:40px;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">'+desc+'</div>'+	
									'</div>'+
								
								'<div class="questioner col-md-4 col-xs-12">'+
								'<div class="pic_wrapper col-md-3 col-xs-4">'+
								'<div class="pic">'+
								'<img class="image" src="../images/'+pid+'.jpg"></div>'+
								'</div>'+
								'<div class="info_wrapper col-md-9 col-xs-8">'+
								 			'<div class="person">'+
												'<div class="name">'+name+'</div>'+
											'</div>'+
											'<div class="time">'+

												'<div class="timein">'+date+'</div>'+
											'</div>'+
								'</div>'+
								'</div>'+
								'</div>'+
								'</div>';
					$('#show').append(data);
				}
			}
		}
})
	</script>
</body>
</html>