
<div class="col-md-12 " id="head_bar">
	<div class="col-xs-1 visible-xs col-xs-offset-1">
		<button class="visible-xs btn-primary btn" id="tab" data-toggle="dropdown">
			<span class="glyphicon glyphicon-th-list"></span>
		</button>
		<ul  class="dropdown-menu  dropdown-menu-left " id="sidenotif" >
			<li role="presentation" class="col-xs-12">
				<a class="override" href="/setting">
				<span id="op_dash" class="tools"></span>
				<span class="displayName" >Dashboard</span></a>
			</li>
			<li role="presentation" class="col-xs-12">
				<a class="override" href="/logout">
				<span id="op_ask" class="tools"></span>
				<span class="displayName" >Ask</span></a>
			</li>
			<li role="presentation" class="col-xs-12">
				<a class="override" href="/logout">
				<span id="op_grp" class="tools"></span>
				<span class="displayName" >My Groups</span></a>
			</li>
			<li role="presentation" class="col-xs-12">
				<a class="override" href="/logout">
				<span id="op_pro" class="tools"></span>
				<span class="displayName" >Profile</span></a>
			</li>
			<li role="presentation" class="col-xs-12">
				<a class="override" href="/logout">
				<span id="logout" class="tools"></span>
				<span class="displayName" >My Account</span></a>
			</li>
			<li role="presentation" class="col-xs-12">
				<a class="override" href="/logout">
				<span id="logout" class="tools"></span>
				<span class="displayName" >Logout</span></a>
			</li>
		</ul>
	</div>
	<div class="col-md-2  col-xs-2">
		<div id="logo">WZ</div>
	</div>
	<div class="col-md-4 hidden-xs" id="tagline">
		<%=def%>
	</div>
	<div class="col-md-3 msgs hidden-xs hidden-sm col-md-offset-2"> 
		<div class="col-md-10 col-xs-9"> 
			<div id="headername"  class="row">
				<span id="count" class="badge" data-toggle="dropdown">
					<%=user.notification.length%>
				</span>
				<ul class="dropdown-menu col-md-12" id="notifix" role="menu" aria-labelledby="dropdownMenu1">
  					<li>Notifications </li>	    			
				</ul>
				<%=user.fullName%>
				<input id="peerid" type="text" style="display:none" value=<%=user.fullName%>   />
			</div>							
		</div>	
		<div class="col-md-1 col-xs-2">
			<span data-toggle="dropdown" ><span id="caretSetting"></span></span>
			<ul  class="dropdown-menu  dropdown-menu-right" id="sidenotif" >
				<li role="presentation" class="col-md-12">
					<a class="override" href="/setting">
					<span id="setting" class="tools"></span>
					<span class="displayName" >My account</span></a>
				</li>
				<li role="presentation" class="col-md-12">
					<a class="override" href="/logout">
					<span id="logout" class="tools"></span>
					<span class="displayName" >Logout</span></a>
				</li>
			</ul>
		</div>	
	</div>
</div>
<%var headeruser=JSON.stringify(user)%>
<script type="text/javascript">
	$(document).ready(function(){
		function countNotify(){
		var user=<%-headeruser%>;
		postdata={id:user._id};
		
				$.ajax({
					url : '/countNotify',
					type : 'POST',
					data : postdata ,
					beforeSend : function(){},
					success : function(data){
						$('#count').html(data.length);
					},
					error : function(err,a,b){} 						 
				});
		};
		countNotify();
		setInterval(countNotify , 1000*60*2);
		
		$('#count').click(function(){
			var user=<%-headeruser%>;
			//console.log('user'+JSON.stringify(user.notification.length));
			if(user.notification.length>0){
			$('#notifix').html("");
				for(var i=user.notification.length-1;i>=0;i--){
					var postdata={}
					postdata.p_id=user.notification[i].person_id;
					postdata.q_id=user.notification[i].ques_id;
					postdata.qtime=user.notification[i].time;
					var headertime=user.notification[i].time;
					//console.log(i+" \t\t"+JSON.stringify(postdata));
					$.ajax({
			            url:"/notifications",
			            data:postdata,
			            type:'POST',
			            dataType: 'json',
			            cache:false,
			            beforeSend: function(){},
			            error:function(jqXHR, textStatus, errorThrown){},
			            success:function(data){
		//	            	console.log("data returned ios"+ JSON.stringify(data));
			            	     	var innerHtml=
			            	     	'<li role="presentation" class="col-md-12">'+
			            	     		'<img src="/images/'+data.id+'.jpg " height="30px" width="30px" class="img-circle col-md-3 userimghead"/>'+
						    			'<div class="col-md-9 usernamehead">'+data.name+
						    				'<span class="pull-right badge" id="count">Rating: '+data.rating+'</span>'+
						    			'</div> <a class="ain" href="/question?id='+data.q_id+'" >'+
						    			'<div >Polled for your question</div></a>'+
						    			'<div class="col-md-12 timehead" style="float:right" ><b>Available at : </b>'+data.time+'</div>'+	   
						    		'</li>'+
									'<li  role="presentation" class="divider  col-md-12"></li>';
							$('#notifix').append(innerHtml);
			            }
			        })
			    }
		    }
		})
		
		$('ul').delegate('li','click',function(e){
			
			var element= $(this);
			//////////////////////////
			console.log($(this));
			$(this).addClass(".demo");
			/////////////////////////
			
			var urldata=$('.ain').attr('href');
			p=urldata.indexOf('id=');
			urldata=urldata.substring(p+3,urldata.length); 			
 		//	console.log(urldata);
 			$.ajax({
 				url:"updateCheck",
 				data:{id:urldata},
 				type:'POST',
 				dataType:'json',
 				cache:false,
 				beforeSend: function(){
 					console.log("before sending");
 				},
			    error:function(jqXHR, textStatus, errorThrown){},
			    success:function(data){
			    	console.log(data);
			    	countNotify();
			    }

 			})

 	   })
	})
</script>