<!DOCTYPE html>
<html>
<head>
	<title>
		WHiztok
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	
	<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="plugins/bootstrap.js"></script>
	
</head>

<body>
	<div class="container-fluid">
		<div class="row col-md-12 hidden-xs col-sm-12" id="head_bar">
			<div id="loginStatus" class="col-md-8 col-md-offset-2">
					<% if(message.length>0) {%>
						<div  id="errormessage" class='alert alert-danger col-md-8 col-md-offset-2 '>
							<%=message %>
						</div>
					<% } %>	
				</div>
		</div>
		<div class="main row col-md-10 col-md-offset-1 " id="home" >
			<div class="title col-md-4 col-md-offset-4 col-xs-12">
				W H I Z T O K
			</div>
			<div class="signUp col-md-2 col-md-offset-5 row col-xs-offset-4 col-xs-4">
				<a id="signhref" href="#sign" class="btn btn-default btn-block btn-signUp"> SIGN UP</a>
			</div>	
			<div class="sign col-md-4 col-md-offset-4 row col-xs-8 col-xs-offset-2">
				<div class="signIn col-md-12 col-xs-12">
					<div class=" btn-signIn col-md-12 col-xs-12">
						<a id="loghref"  href="#log" id="signing" class="btn btn-block btn-round">SIGN IN</a>
					</div>
				</div>
			</div>
			<div class="connections row col-md-6 col-md-offset-3 col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="connect col-md-2 col-md-offset-2 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-2">
					<div class="icon">
						<a href="/auth/google"> <span id="mgoogle"></span></a>
					</div>
					<div class="vertical"></div>
				</div>

				<div class="connect col-md-2 col-md-offset-1 col-xs-3 col-sm-2 col-sm-offset-1">
					<div class="icon">
						<a href="/auth/facebook"><span id="mfb"></span></a>
					</div>
					<div class="vertical"></div>
				</div>
				
				<div class="connect col-md-2 col-md-offset-1 col-xs-3 col-sm-2 col-sm-offset-1">
					<div class="icon">
						<a href="/auth/github"><span id="mgit"></span></a>
					</div>
					<div class="vertical"></div>
				</div>
			</div>
		</div>
		<div class="loggingin main row col-md-10 col-md-offset-1" id="log">
			<div class="col-md-1 col-md-offset-11" >
				<a href="#" class="up"> </a>
			</div>
			<div class="col-md-8 col-md-offset-2" >
				
				<form id='loginform' name='loginform' action='login' method='post'>
					<div id="sign_head" class="col-md-12">Sign in</div>
					<div>
						<input type="text" class="col-md-10 col-md-offset-1" placeholder="Username" id="loginUsername" name="loginUsername"/>
					</div>
					<div>
						<input type="password" class="col-md-10 col-md-offset-1" placeholder="Password" id="loginPassword" name="loginPassword"/>
					</div>
					<button class="col-md-4 col-md-offset-4" type="submit" id="login" value="login">LOG IN</button>
					
				</form>
				<form id='forgetform' name='forgetform' >
					<div class="col-md-10 col-md-offset-1" id="regi"><a id="forget">Forgot password?</a></div>
					<div  id="forgetdiv">
						<div class="col-md-12">
							<div>	
								<input type="email" class="col-md-6 col-md-offset-1 " placeholder="Email id" id="forgetemail" name="forgetemail"/>
							</div>
								<button type="submit" value="forgotpwd" class="col-md-3 col-md-offset-1" id="for">Reset </button>

						</div>
						
					</div>
				</form>
			</div>
		</div>
		<div class="signingin main row col-md-10 col-md-offset-1" id="sign">
			<div class="col-md-1 col-md-offset-11" >
				<a href="#" class="up"> </a>
			</div>	
			<div class="col-md-8 col-md-offset-2">
				<div id="signStatus" class="col-md-10 col-md-offset-1">
				</div>
				<form id='registerform' name='registerform' action='register' method='post'>
					<div class="col-md-10 col-md-offset-1" id="regis">Sign Up</div>
					<div class="col-md-10 col-md-offset-1" id="regi">New here? Take your first step.</div>
					<div  >
						<input type="email" class="col-md-10 col-md-offset-1" placeholder="Email id" id="registerEmail" name="registerEmail"/>
					</div>
						<button type="submit" value="register" class="col-md-4 col-md-offset-4" id="reg">REGISTER</button>
					
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="javascripts/script.js"></script>
	<script type="text/javascript" src="javascripts/register.js"></script>
	<script type="text/javascript" src="javascripts/login.js"></script> 
</body>
</html>