	<!doctype html>
	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/mygroups.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>
			<script type="text/javascript" src="socket.io/socket.io.js"></script>
			<script type="text/javascript" src="javascripts/clients.js"></script>			
			
		</head>
		<body>
			<%-include videomodel%>
			<%-include header.ejs -%>
			<div class="container-fluid row">
				<div class="row" >
					<div class=" col-md-2 hidden-xs" id="left_bar">
						<div class="row">
							<div class="propic_wrapper">
								<div class="col-md-12 pic_out">
									<div class="col-md-6 col-md-offset-3 profile_pic ">
										<img src="<%=image%>" height="70px" width="70px" class="img-circle">
									</div>
								</div>
								<div class="col-md-12 name_out">
									<div class="name_in"><div class="namein"><%=user.fullName%></div></div>
									<input style="display:none" type="text" id="user_id" value=<%=user._id%> />

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="list_wrapper">
								<ul>
									<li><span class="line"></span><span  id="op_dash"></span> <a  class="override" href="/dashboard">Dashboard</a></li>
									<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
									<li class ="currentPage"><span class="line"></span><span id="op_grp"></span><a id="currentPage" class="override" href="#">My Groups</a></li>
									<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right_bar col-md-10 col-xs-12">
						<div class="title_bar row">
							<div class="title1"><span id="home"></span><a href="/dashboard">Home</a></div>
							<div class="title2"><span id="dash"></span>My Groups</div>
						</div>
						<div class="heading col-md-12">
							<div class="col-md-4 heading_name">
								<div class="row h_name">
									<div class="h_name_in">My Groups</div>
								</div>
								
							</div>
							<div class="btn-group col-md-3 col-md-offset-5" id="but">
							  <button type="button" class="btn" id="but1">My Questions</button>
							  <button type="button" id="but2" class="btn dropdown-toggle" data-toggle="dropdown">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu " role="menu">
							    <li><a href="/mygroupAsked">Asked Questions</a></li>
							    <li><a href="/mygroupPolled">Polled Questions</a></li>
							  </ul>
							</div>
							<!--modal-->
							<div class="modal fade demo" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
								        	<button id="upperClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        	<h4 class="modal-title">Already Answered </h4>
					      				</div>
										<div class="col-md-12 thumbnail voteid">
												<button class="btn vdobtn" >This question has been answered.</button>	
										</div>
										
									</div>
								</div>
							</div>

						</div>
							<div class="groups col-xs-12" id="quesWrap">
							</div>
						</div>
				</div>
			</div>
		</div>

	<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({ 
				    url:'/mygroupAsked',
				    datatype:'json',
					type:'post',
					data:'',
				beforeSend:function(){
					console.log("submitting form ");
				},
				success: function(data){
					$('#quesWrap').html("");
					console.log(data);
					if(data.title.length>0){
						for(var i=data.title.length-1;i>=0 ;i--){
							newdata='<div class="group_list col-md-12">'+
											'<div id="ques_wrapper" class="col-md-12 thumbnail col-xs-12">'+
												'<div class="ques_title">';
												if(data.status[i]!==true){
													var nextdata='<a href="/question?id='+data.id[i]+' ">'+data.title[i]+'</a></div>'+
													'<div class="ques_desc">'+
													data.description[i]+
													'</div>	'+
													'</div>'+
												'</div>';
											}
											else
												{
													var nextdata='<a data-toggle="modal" data-target=".demo">'+data.title[i]+'</a></div>'+
													'<div class="ques_desc">'+
													data.description[i]+
													'</div>	'+
													'</div>'+
													'</div>';	
												}
								newdata=newdata+nextdata;
						$('#quesWrap').append(newdata);

						}

					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					console.log("error occured");
				}
			});
		$('.btn-group li').on('click', 'a', function(e){
		  e.preventDefault(); 
		  var url = $(this).attr('href'); 
		  var url1=$(this).html();
		   $('#but1').html(url1);
		   $.ajax({ 
				    url: url,
				    datatype:'json',
					type:'post',
					data:'',
				beforeSend:function(){
					console.log("submitting form ");
				},
				success: function(data){
					$('#quesWrap').html("");
					if(data.title.length>0){
						for(var i=data.title.length -1;i>=0 ;i--){
							newdata='<div class="group_list col-md-12">'+
											'<div id="ques_wrapper" class="col-md-12 thumbnail col-xs-12">'+
												'<div class="ques_title">';
												if(data.status[i]!==true){
													var nextdata='<a href="/question?id='+data.id[i]+' ">'+data.title[i]+'</a></div>'+
													'<div class="ques_desc">'+
													data.description[i]+
													'</div>	'+
													'</div>'+
												'</div>';
											}
											else
												{
													var nextdata='<a data-toggle="modal" data-target=".demo">'+data.title[i]+'</a></div>'+
													'<div class="ques_desc">'+
													data.description[i]+
													'</div>	'+
													'</div>'+
													'</div>';	
												}
								newdata=newdata+nextdata;
						$('#quesWrap').append(newdata);

						}

					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					console.log("error occured");
				}
			});
		});
		});
	</script>
	</body>
</html>