<!doctype html>
	<html>
		<head>
			<title>
				Whiztok
			</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/question.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="plugins/bootstrap-theme.min.css">
			<link href="stylesheets/head.css" rel="stylesheet" type="text/css">
			<script type="text/javascript" src="plugins/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="plugins/bootstrap.js"></script>
			<script type="text/javascript" src="socket.io/socket.io.js"></script>
			<script type="text/javascript" src="plugins/peer.min.js"></script>
			<script type="text/javascript" src="javascripts/question_client.js"></script>
    		
			
		</head>
		<body>
		
			<%-include videomodel%>
			<%-include header%>
			<div class="container-fluid row">
				<div class="row">
					<div class=" col-md-2 hidden-xs" id="left_bar">
						<div class="row">
							<div class="propic_wrapper">
								<div class="col-md-12 pic_out">
									<div class="col-md-6 col-md-offset-3 profile_pic ">
										<img src="<%=image%>" height="70px" width="70px" class="img-circle">
									</div>
								</div>
								<div class="col-md-12 name_out">
									<div class="name_in"><div class="namein"><%=user.fullName%>
									<input id="peerid" type="text" style="display:none" value=<%=user.fullName%>   /></div></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="list_wrapper">
								<ul>
									<li><span class="line"></span><span  id="op_dash"></span> <a class="override" href="/dashboard">Dashboard</a></li>
									<li><span class="line"></span><span id="op_ask"></span><a class="override" href="/ask">Ask a Question</a></li>
									<li><span class="line"></span><span id="op_grp"></span><a class="override" href="/mygroups">My Groups</a></li>
									<li><span class="line"></span><span id="op_pro"></span><a class="override" href="/profile">Profile</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right_bar col-md-10 col-xs-12">
						<div class="title_bar row">
							<div class="title1"><span id="home"></span><a href="/dashboard">Home</a></div>
							<div class="title2"><span id="dash"></span><a href="/answer?id="<%=question.id%> >Question</a></div>
							<div class="title2"><span id="dash1"></span>Polled Users</div>
						</div>
						<div class="heading col-md-12">
							<div class="col-md-4 heading_name">
								<div class="row h_name">
									<div class="h_name_in">Dashboard</div>
								</div>
			
							</div>
						</div>
						<div class="col-md-10 col-md-offset-1 ">
							<input id="user_id" type="text" style="display:none" value=<%=user._id%>  />
							<input style="display:none" type="text" id="user_name" value=<%=user.fullName%> />
							<div class="col-md-8" id="que">
								<div class="col-md-12" id="question_head">
								 	
								</div>
								<div class="col-md-12" id="question_body">
									
								</div>
								
							</div>
							<div class="col-md-4" >
								<div class="col-md-12" id="pol">
								Answer requests
								</div>
								<div class="col-md-12" id="online">
									<ul class="col-md-10 list-unstyled" id="online2">
										
										
									</ul>

									<ul class="col-md-2 list-unstyled" id="online1">
										
										
									</ul>
								</div>

								<div class="col-md-12" id="offline">
									<ul class="col-md-10 list-unstyled" id="offline2">
										
										
									</ul>

									<ul class="col-md-2 list-unstyled" id="offline1">
										
										
									</ul>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
	
	<script type="text/javascript">
	$(document).ready(function(){

	// $('ul').delegate('.online_user','click',function(){
 // //      var p=($(this.children));
 // //      userid=p[0].value;
 // //      console.log(userid);
 //      $("#myModal").modal('show');

      
     
      
 //    });
	$.ajax({
						url:'/getQuestionById',
                		data:{'id':'<%-question.id%>'},
                		type:'POST',
                		dataType: 'json',
                		cache:false,
                		beforeSend: function(){
                			//console.log("before submitting the form");
                		},
                		error:function(jqXHR, textStatus, errorThrown){
                		},
                		success:function(data){
                			qdata=data.value[0];
                			title=qdata.title;
                			polleduser=qdata.polledUser;
                			desc=qdata.description;
                			$('#question_head').html(title);
                			$('#question_body').html(desc);
                		}
			})
	})
	</script>
	
	</body>
</html>