<!------Video call popup------>
		<html>
    	<head>
    	<link rel="stylesheet" type="text/css" href="stylesheets/videomodel.css">
    	</head>
    	<body>
			<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
				 <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<button id="upperClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        	<h4 class="modal-title">Whiztok call</h4>
				      	</div>
				      	<div id="pop">
				      	<div class="modal-body col-md-7" id="caller">
				        	<video id="localvideo" autoplay class="col-md-3" ></video>
        					<video id="remotevideo"  autoplay class="col-md-12"></video>
				      	</div>

				      	<div id="textchat" class="col-md-5">
				      		<input style="display:none"  id="sender" value= <%=user._id%> />
				      		<input style="display:none"   class="receiver" value=" "  />
				      		<div >
				      			<textarea class="col-md-12" id="chatshow" readonly="readonly"></textarea>
				      		</div>
					      	<input id="chattext" type="text" class="col-md-9" >
					      	<button type="button" class="btn  col-offset-1 col-md-2" id="send">Send</button>
				      	</div>
				      	</div>
				      	<div class="modal-footer">
				        	<button type="button" class="btn " data-dismiss="modal" id="close" data-toggle="modal" data-target=".review">End call</button>
				    
				    	</div>
				    </div><!-- /.modal-content -->
				 </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="modal fade bs-example-modal-lg" id="myModalrec" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
				 <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<button id="upperClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        	<h4 class="modal-title">Whiztok call</h4>
				      	</div>
				      	<div id="pop">
				      	<div class="modal-body col-md-7" id="caller">
				        	<video id="localvideo" autoplay class="col-md-3" ></video>
        					<video id="remotevideo"  autoplay class="col-md-12"></video>
				      	</div>

				      	<div id="textchat" class="col-md-5">
				      		<input style="display:none"  id="sender" value= <%=user._id%> />
				      		<input style="display:none"  class="receiver" value=" "  />
				      		<div >
				      			<textarea class="col-md-12" id="chatshow" readonly="readonly"></textarea>
				      		</div>
					      	<input id="chattext" type="text" class="col-md-9" >
					      	<button type="button" class="btn  col-offset-1 col-md-2" id="send">Send</button>
				      	</div>
				      	</div>
				      	<div class="modal-footer">
				        	
				    
				    	</div>
				    </div><!-- /.modal-content -->
				 </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			



			<!--voting modal-->
			<div class="modal fade review" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-sm">
					<div class="modal-content  ">
						<div class="modal-header">
				        	<button id="upperClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        	<h4 class="modal-title">Rate the answerer</h4>
				      	</div>
						
						<div class="voteid thumbnail">

							<div class="col-md-6 col-xs-6 ">
								<form id="demoform1" name="demoform1" method="post" action="downvote">
									<input style="display:none" name="receiver" class="receiver" value=" "  />
									<button type="submit" class="btn vdobtn"   id="downvote"><span id="down"></span>Downvote</button>
								</form>
							</div>
							<div class="col-md-6 col-xs-6 up">
								<form id="demoform" name="demoform" method="post" action="upvote">
									<input style="display:none" name="receiver"  class="receiver" value=" "  />
									<button type="submit" class="btn vdobtn" data-toggle="modal" data-target=".upvote" id="toggler" value="up" ><span id="up"></span>Upvote</button>
								</form>
							</div>
							
										
						</div>
					</div>
				</div>
			</div>

			<!--if upvote is cliked -->
			<div class="modal fade upvote" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true" data-backdrop="static">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
							        	<button id="upperClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							        	<h4 class="modal-title">Are you satisfied </h4>
				      				</div>
									<div class="voteid thumbnail">
										<div class="col-md-6 col-xs-6 yes">
											<form id="demoform3" name="demoform3" method="post" action="satisfiedyes">
													<button type="submit" class="btn vdobtn" id="satisfied">Yes</button>	
													<input style="display:none" type="text" id="qidmodal" name="qid"  >	
											</form>	
										</div>
										<div class="col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2 no">

											
												<button class="btn vdobtn" data-dismiss="modal">No</button>
											
													
										</div>
										
									</div>
								</div>
							</div>
						</div>	

			</body>
			</html>