@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?tp9ot0');
	src:url('fonts/icomoon.eot?#iefixtp9ot0') format('embedded-opentype'),
		url('fonts/icomoon.woff?tp9ot0') format('woff'),
		url('fonts/icomoon.ttf?tp9ot0') format('truetype'),
		url('fonts/icomoon.svg?tp9ot0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e601";
}
.icon-bar-chart:before {
	content: "\e602";
}
.icon-twitter-sign:before {
	content: "\e603";
}
.icon-facebook-sign:before {
	content: "\e604";
}
.icon-linkedin-sign:before {
	content: "\e605";
}
.icon-heart-empty:before {
	content: "\e606";
}
.icon-thumbs-down:before {
	content: "\e607";
}
.icon-thumbs-up:before {
	content: "\e608";
}
.icon-github-sign:before {
	content: "\e609";
}
.icon-bell:before {
	content: "\e60a";
}
.icon-folder-close:before {
	content: "\e60b";
}
.icon-folder-open:before {
	content: "\e60c";
}
.icon-comments:before {
	content: "\e60d";
}
.icon-upload:before {
	content: "\e60e";
}
.icon-download:before {
	content: "\e60f";
}
.icon-tags:before {
	content: "\e610";
}
.icon-tag:before {
	content: "\e611";
}
.icon-hand-down:before {
	content: "\e612";
}
.icon-hand-up:before {
	content: "\e613";
}
.icon-hand-left:before {
	content: "\e614";
}
.icon-hand-right:before {
	content: "\e615";
}
.icon-group:before {
	content: "\e616";
}
.icon-wrench:before {
	content: "\e617";
}
.icon-globe:before {
	content: "\e618";
}
.icon-circle-arrow-down:before {
	content: "\e619";
}
.icon-circle-arrow-up:before {
	content: "\e61a";
}
.icon-circle-arrow-right:before {
	content: "\e61b";
}
.icon-circle-arrow-left:before {
	content: "\e61c";
}
.icon-twitter:before {
	content: "\e61d";
}
.icon-phone-sign:before {
	content: "\e61e";
}
.icon-facebook:before {
	content: "\e61f";
}
.icon-unlock:before {
	content: "\e620";
}
.icon-rss:before {
	content: "\e621";
}
.icon-phone:before {
	content: "\e622";
}
.icon-chevron-down:before {
	content: "\e623";
}
.icon-chevron-up:before {
	content: "\e624";
}
.icon-list-ol:before {
	content: "\e625";
}
.icon-list-ul:before {
	content: "\e626";
}
.icon-reorder:before {
	content: "\e627";
}
.icon-strikethrough:before {
	content: "\e628";
}
.icon-underline:before {
	content: "\e629";
}
.icon-google-plus-sign:before {
	content: "\e62a";
}
.icon-google-plus:before {
	content: "\e62b";
}
.icon-linkedin:before {
	content: "\e62c";
}
.icon-envelope-alt:before {
	content: "\e62d";
}
.icon-github-alt:before {
	content: "\e62e";
}
.icon-location-arrow:before {
	content: "\e62f";
}
.icon-link:before {
	content: "\e630";
}
.icon-tasks:before {
	content: "\e631";
}
.icon-signout:before {
	content: "\e632";
}
.icon-rupee:before {
	content: "\e633";
}
.icon-thumbs-down2:before {
	content: "\e634";
}
.icon-thumbs-up2:before {
	content: "\e635";
}
.icon-male:before {
	content: "\e636";
}
.icon-female:before {
	content: "\e637";
}
.icon-bitbucket-sign:before {
	content: "\e638";
}
.icon-bitbucket:before {
	content: "\e639";
}
.icon-play-sign:before {
	content: "\e63a";
}
.icon-link2:before {
	content: "\e63b";
}
.icon-link3:before {
	content: "\e63c";
}
.icon-monitor:before {
	content: "\e63d";
}
.icon-microphone:before {
	content: "\e63e";
}
.icon-film:before {
	content: "\e63f";
}
.icon-camera2:before {
	content: "\e640";
}
.icon-tv:before {
	content: "\e641";
}
.icon-checkmark:before {
	content: "\e642";
}
.icon-checkmark2:before {
	content: "\e643";
}
.icon-cancel:before {
	content: "\e644";
}
.icon-cancel2:before {
	content: "\e645";
}
.icon-notice:before {
	content: "\e646";
}
.icon-checkmark3:before {
	content: "\e647";
}
.icon-cancel3:before {
	content: "\e648";
}
.icon-cog:before {
	content: "\e649";
}
.icon-cogs:before {
	content: "\e64a";
}
.icon-pictures:before {
	content: "\e64b";
}
.icon-pictures2:before {
	content: "\e64c";
}
.icon-download2:before {
	content: "\e64d";
}
.icon-upload2:before {
	content: "\e64e";
}
.icon-radio:before {
	content: "\e64f";
}
.icon-volume:before {
	content: "\e650";
}
.icon-volume2:before {
	content: "\e651";
}
.icon-chat:before {
	content: "\e652";
}
.icon-info:before {
	content: "\e653";
}
.icon-reply:before {
	content: "\e654";
}
.icon-forward:before {
	content: "\e655";
}
.icon-envelope2:before {
	content: "\e656";
}
.icon-envelope3:before {
	content: "\e657";
}
.icon-rotate:before {
	content: "\e658";
}
.icon-rotate2:before {
	content: "\e659";
}
.icon-edit:before {
	content: "\e65a";
}
.icon-attachment:before {
	content: "\e65b";
}
.icon-rss2:before {
	content: "\e65c";
}
.icon-wi-fi:before {
	content: "\e65d";
}
.icon-th-list:before {
	content: "\e65e";
}
.icon-th-menu:before {
	content: "\e65f";
}
.icon-group-outline:before {
	content: "\e660";
}
.icon-user-add-outline:before {
	content: "\e661";
}
.icon-user-delete-outline:before {
	content: "\e662";
}
.icon-social-linkedin-circular:before {
	content: "\e663";
}
.icon-social-facebook-circular:before {
	content: "\e664";
}
.icon-social-tumbler-circular:before {
	content: "\e665";
}
.icon-social-at-circular:before {
	content: "\e666";
}
.icon-shopping-cart:before {
	content: "\e667";
}
.icon-messages:before {
	content: "\e668";
}
.icon-users:before {
	content: "\e669";
}
.icon-user:before {
	content: "\e66a";
}
.icon-user2:before {
	content: "\e66b";
}
.icon-users2:before {
	content: "\e66c";
}
.icon-switch:before {
	content: "\e66d";
}
.icon-forbidden:before {
	content: "\e66e";
}
.icon-comment:before {
	content: "\e66f";
}
.icon-chat-3:before {
	content: "\e670";
}
.icon-chat2:before {
	content: "\e671";
}
.icon-flag:before {
	content: "\e672";
}
.icon-envelope4:before {
	content: "\e673";
}
.icon-star:before {
	content: "\e674";
}
.icon-switch2:before {
	content: "\e675";
}
.icon-film2:before {
	content: "\e676";
}
.icon-thumbs-up3:before {
	content: "\e677";
}
.icon-thumbs-down3:before {
	content: "\e678";
}
.icon-flag2:before {
	content: "\e679";
}
.icon-volume3:before {
	content: "\e67a";
}
.icon-volume4:before {
	content: "\e67b";
}
.icon-database:before {
	content: "\e67c";
}
.icon-file:before {
	content: "\e67d";
}
.icon-profile:before {
	content: "\e67e";
}
.icon-pencil:before {
	content: "\e67f";
}
.icon-pencil2:before {
	content: "\e680";
}
.icon-phone-hang-up:before {
	content: "\e681";
}
.icon-phone2:before {
	content: "\e682";
}
.icon-qrcode:before {
	content: "\e683";
}
.icon-barcode:before {
	content: "\e684";
}
.icon-undo:before {
	content: "\e685";
}
.icon-redo:before {
	content: "\e686";
}
.icon-user3:before {
	content: "\e687";
}
.icon-users3:before {
	content: "\e688";
}
.icon-spinner:before {
	content: "\e689";
}
.icon-user4:before {
	content: "\e68a";
}
.icon-accessibility:before {
	content: "\e68b";
}
.icon-thumbs-up4:before {
	content: "\e68c";
}
.icon-thumbs-up5:before {
	content: "\e68d";
}
.icon-paragraph-left:before {
	content: "\e68e";
}
.icon-paragraph-center:before {
	content: "\e68f";
}
.icon-paragraph-justify:before {
	content: "\e690";
}
.icon-paragraph-right:before {
	content: "\e691";
}
.icon-paragraph-center2:before {
	content: "\e692";
}
.icon-paragraph-left2:before {
	content: "\e693";
}
.icon-paragraph-justify2:before {
	content: "\e694";
}
.icon-paragraph-right2:before {
	content: "\e695";
}
.icon-mail:before {
	content: "\e696";
}
.icon-twitter2:before {
	content: "\e697";
}
.icon-twitter3:before {
	content: "\e698";
}
.icon-twitter4:before {
	content: "\e699";
}
.icon-facebook2:before {
	content: "\e69a";
}
.icon-facebook3:before {
	content: "\e69b";
}
.icon-facebook4:before {
	content: "\e69c";
}
.icon-youtube:before {
	content: "\e69d";
}
.icon-youtube2:before {
	content: "\e69e";
}
.icon-github:before {
	content: "\e69f";
}
.icon-github2:before {
	content: "\e6a0";
}
.icon-wrench2:before {
	content: "\e6a1";
}
.icon-key:before {
	content: "\e6a2";
}
.icon-key2:before {
	content: "\e6a3";
}
.icon-spinner2:before {
	content: "\e6a4";
}
.icon-spinner3:before {
	content: "\e6a5";
}
.icon-spinner4:before {
	content: "\e6a6";
}
.icon-cog2:before {
	content: "\e6a7";
}
.icon-hammer:before {
	content: "\e6a8";
}
.icon-remove:before {
	content: "\e6a9";
}
.icon-remove2:before {
	content: "\e6aa";
}
.icon-cogs2:before {
	content: "\e6ab";
}
.icon-cog3:before {
	content: "\e6ac";
}
.icon-quotes-left:before {
	content: "\e6ad";
}
.icon-chat3:before {
	content: "\e6ae";
}
.icon-chat-alt-stroke:before {
	content: "\e6af";
}
.icon-chat-alt-fill:before {
	content: "\e6b0";
}
.icon-comment-stroke:before {
	content: "\e6b1";
}
.icon-comment-fill:before {
	content: "\e6b2";
}
.icon-comment-alt2-stroke:before {
	content: "\e6b3";
}
.icon-comment-alt2-fill:before {
	content: "\e6b4";
}
.icon-checkmark4:before {
	content: "\e6b5";
}
.icon-check-alt:before {
	content: "\e6b6";
}
.icon-x:before {
	content: "\e6b7";
}
.icon-x-altx-alt:before {
	content: "\e6b8";
}
.icon-mail2:before {
	content: "\e6b9";
}
.icon-rss-alt:before {
	content: "\e6ba";
}
.icon-rss3:before {
	content: "\e6bb";
}
.icon-movie:before {
	content: "\e6bc";
}
.icon-key-fill:before {
	content: "\e6bd";
}
.icon-key-stroke:before {
	content: "\e6be";
}
.icon-pen-alt-fill:before {
	content: "\e6bf";
}
.icon-pen-alt-stroke:before {
	content: "\e6c0";
}
.icon-lock-stroke:before {
	content: "\e6c1";
}
.icon-lock-fill:before {
	content: "\e6c2";
}
.icon-unlock-stroke:before {
	content: "\e6c3";
}
.icon-unlock-fill:before {
	content: "\e6c4";
}
