@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
		html{
	overflow:hidden
}
a{
	text-decoration: none !important;
	color:#d0d0d0;
}
a:hover{
	text-decoration: none !important;
	color:#fff;
}
	#left_bar
	{
		background-color: #EEEEEE;
		height: 645px;
		color: #555555;
		border-bottom: solid 1px #EFEFEF;
		border-right: solid 1px #EFEFEF;
		padding-left: 0;
	}
	.propic_wrapper
	{
		height: 70px;
		padding: 0;
		margin-top: 40px;	
	}
	.pic_out
	{
		padding: 0;
		/*border-radius: 50%;*/
	}
	.profile_pic
	{
		margin-top: 10px;
		padding: 0;
	}
	.name_in
	{
		 
		padding: 10px;
		font-family: 'Regular';
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
	}
	#list_wrapper
	{
		
		padding-right: 0px;

		margin-top: 30px;
	}
	#list_wrapper ul
	{

		
		height: 50px;
		padding: 0;

	}


	#list_wrapper li
	{

		
		list-style: none;
		height: 43px;
		padding-top: 12px;
		padding-left: 30px;
		font-family: 'Regular';
		font-size: 18px;
		display: block;
		border-bottom: solid 1px #EFEFEF;
		position: relative;

	}
	#list_wrapper li:hover
	{
		color: white;
		background-color: #00BE9C;
	}
	.line
	{
		display: none;
		height: 43px;
		width: 7px;
		position: absolute;
		top: 0;
		left: 0px;
		background: #3C8DBC;
		box-shadow: 2px 0 6px #aaa;
	}
	.override{
		color:#fff;
	}
	#list_wrapper ul li:hover a:hover{
			text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
			background-color: #00BE9C;
	}
	.currentPage{
			text-decoration: none;
			cursor: pointer;
			font-family: sans-serif;
			color: white;
			background-color: #00BE9C;

	}
	#op_dash:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_ask:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_grp:before
	{
		content: '\e688';
		font-family: 'icomoon';
		margin-right: 7px;

		font-size: 16px;
	}
	#op_pro:before
	{
		content: '\e67e';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	.right_bar
	{

		height: 645px;
		overflow: auto;
	}
	.title_bar
	{
		background-color: #00BE9C;
		border-bottom: solid 1px #EFEFEF;
		color: white;
	}
	#home:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 10px;

	}
	#dash:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 7px;
	}
	.title1
	{
		
		font-size: 12px;
		
		padding: 10px;

		border-radius: 2%;
		float: left;
		text-align: center;
		/*margin-right: 5px;*/
		
		height: 35px;

	}
	.title1 a
	{
		color:white;
	}
	.title1 a:hover
	{
		color: #333333;
	}
	.title2
	{
		
		font-size: 12px;
	
		padding: 10px;
		border-radius: 2%;
		float: left;
		text-align: center;
		
		
		height: 35px;
	}
	.heading
	{
		
		height: 85px;
	}
	.heading_name
	{
		
		height: 85px;
		
	}
	.h_name
	{
		
		height: 50px;
		
	}
	.h_name_in
	{
		font-family: sans-serif;
		font-size: 24px;
		margin-top: 15px;
		
		color: #444757;
	}

	.welcome
	{
		
		height: 35px;
		padding: 10px;
		
	}
	.welcome_name
	{
		font-family: sans-serif;
		font-size: 12px;
		color: #444757;
	}

.question
{
	padding: 10px;	
}
.question_header
{
	height: 50px;
	padding: 10px;
	color: #616161;
	font-family: sans-serif;
	font-size: 16px;
}
#question_desc
{
	height: 290px;
	background-color: #F5F5F5;
	padding: 10px;
	color: #737373;
	font-family: sans-serif;
	font-size: 14px;
	overflow: auto;
}
.answer
{
	padding: 10px;
	
}
.but
{
	background-color: #00BE9C;
	color: white;
}
.when
{
	display: none;
	height: 130px;
	background-color: white;
	padding: 20px;
	border-radius: 2%;

}
.timings
{
	display: none;
}
.submit
{
	margin-top: 60px;
}
label
{
	margin-left: 10px;
	color: #444757;
}

footer
{
		height: 40px;
}

#notifi_arrow {
   width: 0; 
   height: 0; 
   border-bottom: 24px solid white; 
   border-left: 12px solid transparent; 
   border-right: 12px solid transparent; 
   margin-left: -36px;
}
.user-detail{
	text-align: left;
	text-indent: 5px;
	font-size: 16px;

}
.mini-details{
	text-align: right;
}

.msgdetail{
	border-radius: 3px;
	background-color: #E4EAEA;
}
.msgtymdetail{
	border-radius: 3px;
	text-align: right;
	font-size: 12px;
	background-color: #E4EAEA;
	padding-bottom: 2px;
}


/*************caret settings**************/

.displayName{
	font-family:'Regular';
	font-size: 16px;
	padding-bottom: 2px;
}
#caretSetting:before{
	margin: 0;
	font-family: 'icomoon';
	content: '\e623';
		margin-top: 13px;
}