@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	html{
		overflow: hidden;
	}
	#userdetails{
		text-align: right;
	}
	

	
	a{
		text-decoration: none !important;
		color:#d0d0d0;
	}
	a:hover{
		text-decoration: none !important;
		color:#fff;
	}
	
	#left_bar
	{
		background-color: #EEEEEE;
		height: 645px;
		color: #555555;
		border-bottom: solid 1px #EFEFEF;
		border-right: solid 1px #EFEFEF;
		padding-left: 0;
	}
	.propic_wrapper
	{
		height: 70px;
		padding: 0;
		margin-top: 40px;	
	}
	.pic_out
	{
		padding: 0;
		/*border-radius: 50%;*/
	}
	.profile_pic
	{
		margin-top: 10px;
		padding: 0;
	}
	.name_in
	{
		 
		padding: 10px;
		font-family: 'Regular';
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
	}
	#list_wrapper
	{
		
		padding-right: 0px;

		margin-top: 30px;
	}
	#list_wrapper ul
	{

		
		height: 50px;
		padding: 0;

	}


	#list_wrapper li
	{

		
		list-style: none;
		height: 43px;
		padding-top: 12px;
		padding-left: 30px;
		font-family: 'Regular';
		font-size: 18px;
		display: block;
		border-bottom: solid 1px #EFEFEF;
		position: relative;

	}
	#list_wrapper li:hover
	{
		color: white;
		background-color: #00BE9C;
	}
	.line
	{
		display: none;
		height: 43px;
		width: 7px;
		position: absolute;
		top: 0;
		left: 0px;
		background: #3C8DBC;
		box-shadow: 2px 0 6px #aaa;
	}
	.override{
		color:#fff;
	}
	#list_wrapper ul li:hover a:hover{
			text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
			background-color: #00BE9C;
	}
	.currentPage{
			text-decoration: none;
			cursor: pointer;
			font-family: sans-serif;
			color: white;
			background-color: #00BE9C;

	}
	#op_dash:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_ask:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	#op_grp:before
	{
		content: '\e688';
		font-family: 'icomoon';
		margin-right: 7px;

		font-size: 16px;
	}
	#op_pro:before
	{
		content: '\e67e';
		font-family: 'icomoon';
		margin-right: 7px;
		font-size: 16px;
	}
	.right_bar
	{

		height: 615px;
		overflow-y: scroll;
		margin-bottom: 12%;
	}
	.title_bar
	{
		background-color: #00BE9C;
		border-bottom: solid 1px #EFEFEF;
		color: white;
	}
	#home:before
	{
		content: '\e63d';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 10px;

	}
	#dash:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 7px;
	}
	.title1
	{
		
		font-size: 12px;
		
		padding: 10px;

		border-radius: 2%;
		float: left;
		text-align: center;
		/*margin-right: 5px;*/
		
		height: 35px;

	}
	.title1 a
	{
		color:white;
	}
	.title1 a:hover
	{
		color: #333333;
	}
	.title2
	{
		
		font-size: 12px;
	
		padding: 10px;
		border-radius: 2%;
		float: left;
		text-align: center;
		
		
		height: 35px;
	}
	.heading
	{
		
		height: 85px;
	}
	.heading_name
	{
		
		height: 85px;
		
	}
	.h_name
	{
		
		height: 50px;
		
	}
	.h_name_in
	{
		font-family: sans-serif;
		font-size: 24px;
		margin-top: 15px;
		
		color: #444757;
	}

	.welcome
	{
		
		height: 35px;
		padding: 10px;
		
	}
	.welcome_name
	{
		font-family: sans-serif;
		font-size: 12px;
		color: #444757;
	}


.image
{
	height: 60px;
	width: 60px;
	box-shadow: 0 0 10px #aaa;
	border-radius: 2px;
}
.info_wrapper
{
	
	padding: 0;
	height: 60px;
}
	

.txtbox{
	width: 100%;
	margin-bottom: 5px;
	margin-top: 15px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	color: #777;
}
#editor{

	font-family: 'Regular';

}

.panel
{
	margin-top: 20px;
}
.panel-heading
{
	padding: 0px 45px;
}
.opt
{
	text-align: center;
}
#title
{
	border:none;
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}
#title:focus
{
	outline: 0;
}
.pnl
{
	height: 70px;
}

#show{
	margin-top: 20px;
	font-family: 'Regular';
	text-align: left;
}
#one,#two,#three,#four,#small,#sel,#bcolor,#fcolor,#preview,#sub{
	padding: 3px 8px;
	background-image: linear-gradient(to bottom,#00BE9C 0,#6DE5BC 100%);
border-color: #fff;


background-color: #333333;
}
#one:hover,#two:hover,#three:hover,#four:hover,#small:hover,#sel:hover,#bcolor:hover,#fcolor:hover,#preview:hover,#sub:hover
{
	background-color: #00BE9C;
	background-position: 0px -15px;
}
#one:focus,#two:focus,#three:focus,#four:focus,#small:focus,#sel:focus,#bcolor:focus,#fcolor:focus,#preview:focus,#sub:focus
{
	background-color: #00BE9C;
	background-position: 0px -15px;
}
#preview{
	margin: 3% 0 3% 0;

}
.ifrm{
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 250px;	
	border: 1px solid #DFDFDF;
	color: #777;
	background-color: #fff;
	overflow-x:hidden; 
	
}
iframe{
	overflow-x:hidden; 
}
#sub{
	
	position: relative;
	float: right;
	margin:5%;
	
}
#questionHead{
	font-weight: bold;
	font-size: 28px;
}
#currentPage{
		text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
	}
a{
	text-decoration: none !important;
	color:#d0d0d0;
}
a:hover{
	text-decoration: none !important;
	color:#fff;
}
.override{
		color:#d0d0d0;
	}
.tag_wrapper
{
	background-color: #FFF;
	overflow: hidden;
	font-family: 'Regular';
	padding-bottom: 8px;

	border-radius: 6px;

}
#tagsButton{
	
	font-size: 16px;
	padding: 5px;
	font-family: 'Regular';
	border-width: 1px;
	border-radius: 5px;
}
#mytags1{
	position: relative;

}
#texteditorWrap
{
}
#notif
{
	box-shadow: 0px 0px 2px #777777
}

/*************************/

#headername{

	text-align: center;
	font-family: 'Regular';
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background-color: #454545;
}


.user-detail{
	text-align: left;
	text-indent: 5px;
	font-size: 16px;

}
.mini-details{
	text-align: right;
}



.msgdetail{
	border-radius: 3px;
	background-color: #E4EAEA;
}
.msgtymdetail{
	border-radius: 3px;
	text-align: right;
	font-size: 12px;
	background-color: #E4EAEA;
	padding-bottom: 2px;
}
/*************caret settings**************/



#caretSetting:before{
	margin: 0;
	font-family: 'icomoon';
	content: '\e623';
		margin-top: 13px;
}