@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
		html{
	overflow:hidden
}

#head_bar{
		background-color: #962D3E;
		height:57px;
		color:#fff;
		z-index: 10;
		
}
	#logo{
		font-size: 45px;
		font-family: 'Regular';
		margin-top: -5px;
	}
	#head{
		font-size: 20px;
		font-family: 'Regular';
		color: #A7A37E;
		margin-top: -15px;
		
	}
	#tagline{
		font-size: 38px;
		font-family: 'Regular';
		color: #EFECCA;
		
		text-align: center;
		text-shadow: 0px 0px 1px #777777;
	}
	.msgs
	{
		height: 40px;
		margin-top: 10px;	
	}
	.tools
	{
		font-size: 14px;
		font-family: sans-serif;
		color: #fff;
		
	}
	#notif:before
	{
		content: '\e610';
		font-family: 'icomoon';
		color: #fff;	
		font-size: 1.5em;
		margin-right: 6px;
	}

	#setting:before
	{
		content: '\e6a1';
		font-family: 'icomoon';
		color: #fff;	
		font-size: 1.5em;
		margin-right: 6px;
	}
a{
	text-decoration: none !important;
	color:#d0d0d0;
}
a:hover{
	text-decoration: none !important;
	color:#fff;
}


	#logout:before
	{
		content: '\e66d';
		font-family: 'icomoon';
		color: #fff;	
		font-size: 1.5em;
		margin-right: 6px;
	}


#left_bar
{
	 
	background-color: #343642;
	height: 645px;
	color: #962D3E;
	border-bottom: solid 1px #343642;
	
	border-right: solid 1px #343642;
}
	.propic_wrapper
	{
		 
		height: 70px;
		padding: 0;
		color: #962D3E;
		margin-top: 40px;
		
		
	}
	.pic_out
	{
		 
		
		padding: 0;
		border-bottom: solid 1px #343642;
		/*border-radius: 50%;*/
	}
	.profile_pic
	{
		margin-top: 10px;
		padding: 0;
		
	}
	.name_out
	{
		 
		
		color: #962D3E;
		border-bottom: solid 1px #343642;
	}
	.name_in
	{
		 
		padding: 10px;
		font-family: 'Regular';
		font-size: 20px;
		color: #fff;
		margin-top: 10px;
		text-align: center;
		
	}
	#list_wrapper
	{
		background-color: #343642 ;
		
		padding-right: 0px;
		color: #fff;
		border-bottom: solid 1px #343642;
		margin-top: 30px;
	}
	#list_wrapper ul
	{

		
		height: 50px;
		padding: 0;
		border-radius: 2%;
	}


	#list_wrapper li
	{

		color: #d0d0d0;
		list-style: none;
		height: 43px;
		padding-top: 12px;
		padding-left: 30px;
		font-family: 'Regular';
		font-size: 18px;
		display: block;
		border-bottom: solid 1px #343642;
		position: relative;
	}
	.line
	{
		display: none;
		height: 43px;
		width: 7px;
		position: absolute;
		top: 0;
		left: 0px;
		background: #3C8DBC;
		box-shadow: 2px 0 6px #aaa;
	}
	.override{
		color:#d0d0d0;
	}
	#list_wrapper ul li:hover .line
	{
		
	}
	#list_wrapper ul li:hover a:hover{
			text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
			
			
	}
	#currentPage{
		text-decoration: none;
			cursor: pointer;
			color: #fff;
			font-family: sans-serif;
	}
	#op_dash:before
	{
		content: '\e67d';
		font-family: 'icomoon';
		margin-right: 7px;
		color: #fff;
		font-size: 16px;
	}
	#op_ask:before
	{
		content: '\e646';
		font-family: 'icomoon';
		margin-right: 7px;
		color: #fff;
		font-size: 16px;
	}
	#op_grp:before
	{
		content: '\e688';
		font-family: 'icomoon';
		margin-right: 7px;
		color: #fff;
		font-size: 16px;
	}
	#op_pro:before
	{
		content: '\e67e';
		font-family: 'icomoon';
		margin-right: 7px;
		color: #fff;
		font-size: 16px;
	}

.right_bar
{
	background-color: #C3C9C9;
	height: 645px;
	overflow: auto;
}
	.title_bar
	{
		background-color: #Ffffff;
		border-bottom: solid 1px #6D7070;
		
	}
	#home:before
	{
		content: '\e609';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 10px;

	}
	#dash:before
	{
		content: '\e60b';
		font-family: 'icomoon';
		margin-right: 7px;
		margin-left: 7px;
	}
	.title1
	{
		
		font-size: 12px;
		color: #4F5252;
		padding: 10px;
		background-color: #fff;
		border-radius: 2%;
		float: left;
		text-align: center;
		/*margin-right: 5px;*/
		
		height: 35px;
	}
	.title2
	{
		
		font-size: 12px;
		color: #727575;
		padding: 10px;
		background-color: #fff;
		border-radius: 2%;
		float: left;
		text-align: center;
		
		
		height: 35px;
	}
	.heading
	{
		
		height: 85px;
	}
	.heading_name
	{
		
		height: 85px;
		
	}
	.h_name
	{
		
		height: 50px;
		
	}
	.h_name_in
	{
		font-family: sans-serif;
		font-size: 24px;
		margin-top: 15px;
		
		color: #444757;
	}

	.welcome
	{
		
		height: 35px;
		
	}
	.welcome_name
	{
		font-family: sans-serif;
		font-size: 12px;
		color: #444757;
	}
.vdocall
{

	padding: 40px;

	margin-right: -45px;
}
#answerer
{

	margin-top: 30px;
	height: 280px;


}
.answerer_info
{
	height: 130px;
	padding: 0;
}
.anspic_wrapper
{
	height: 130px;
}
.ansinfo_wrapper
{

	height: 130px;
	padding: 0;
}
.person
{
	height: 50px;

}
.person_name
{
	font-size: 18px;
	font-family: sans-serif;
	padding: 12px;
	color: #777777;
}
.ratings
{
	height: 40px;
}
.rate
{
	font-size: 15px;
	font-family: sans-serif;
	padding: 10px;
	color: #999999;
}
.status
{
	height: 40px;

}
#status:before
{
	content: '\e60d';
	font-family: 'icomoon';
	margin-right: 7px;
	color: green;
}
.stat
{
	font-size: 15px;
	font-family: sans-serif;
	padding: 10px;
	color: #999999;	
}
.call
{

	height: 70px;
	margin-left: 40px;
	padding: 10px;

	
}
.vdobtn
{
	background-color: #962D3E;
	color: white;
}
.review1
{
	padding: 20px;
	

	height: 50px;
	margin-top: 5px;
	margin-left: 17px;

}
#vote
{
	height: 40px;

	background-color: #962D3E;
	color: white;


	font-family: sans-serif;
	font-size: 20px;
}
#vote1
{
	height: 40px;

	background-color: #962D3E;
	color: white;


	font-family: sans-serif;
	font-size: 18px;	
}
.voteid
{
	height: 50px;

}
#up:before
{
	content: '\e608';
	font-family: 'icomoon';
	margin-right: 7px;
}
#down:before
{
	content: '\e607';
	font-family: 'icomoon';
	margin-right: 7px;
}
