@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face{
	font-family: 'Argh';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Alex';
	src:url('../fonts/AlexBrush.ttf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	body{
		background-image: url('/images/wz_bg.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		/*-webkit-filter: blur(10px);     
    	filter: blur(10px);*/  
	}
	body, html {
  		height: 100%;
	}
	.show{
		display: none;
	}
	#mgoogle:before{
		content: '\e62b';
		font-size: 1.2em;
		font-family: 'icomoon';
	}
	#mfb:before{
		content: '\e61f';
		font-size: 1.2em;
		font-family: 'icomoon';
	}
	#mgit:before{
		content: '\e62e';
		font-size: 1.2em;
		font-family: 'icomoon';
	}
	
	#head_bar{
		margin-top: 0;
		background-color: rgba(0, 0, 0, 0.08);
		height: 40px;
		color: #3A3838;
		box-shadow: 0px 0px 1px #838383;
		z-index: 100;
		position: fixed;
	}
.main{
	background:rgba(0,0,0,0.1);
	height:auto;
	margin-top: 8%;
}


.title{
	text-align: center;
	font-size: 32px;
	border-top: medium solid rgba(245, 245, 245, 0.2);
	border-bottom: medium solid rgba(245, 245, 245, 0.2);
	border-color: rgba(245, 245, 245, 0.2);
	color: #FFF;
	font-family: argh;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}


.signUp{
	margin-top: 50px;
}

.btn-signUp{
	box-shadow: 0px 0px 5px #000;
	z-index: 999;
}

.btn-signIn{
	box-shadow: 0px 0px 5px #000;
	border-radius: 55px;
	background-color: #00BE9C;
	border-color: rgba(245, 245, 245, 0.2);
	border-width: 20px;
}
.sign{
	margin-top: 40px;
}
.signIn{
	height: 80px;
	padding: 15px;
	position: relative;
	z-index: 999;
	background-color: rgba(255,255,255,0.3);
	border-radius: 55px;
}
.btn-signIn a
{
	color: white;
}
.signin-wrapper{
	height: 15%;

}

.btn-round{
	border-radius: 55px;
	outline-style: solid 10px red; 
	height: 100%;
	font-size: 25px;
	font-family: argh;

}

.connections{
	margin-top:11.7%;
	position: relative;
	z-index: 999;
}

.connect{
	height: 100%;
}

.icon{
	height: 35px;
	border-radius: 50%	;
	text-align: center;
	padding-top: 13%;
	background-color: rgba(255,255,255,0.5);
}

.icon:hover{
	cursor: pointer;
}

.vertical{
	height: 15px;
	background-color: rgba(255,255,255,0.5);
	margin: auto;
	width:5px;
}
.loggingin,.signingin
{
	height: 600px;
	padding: 20px;
}
#position
{
	padding-top: 100px;
}
	#signin{
		height:100%;
		background-color: #979C9C;
		position: absolute;
		z-index: 2;
		box-shadow: -2px 0px 6px #777777;
		margin-left: 1368px;
		display: none;
	}
	#sign_head{
		color: #fff;
		font-family: 'Regular';
		text-align: center;
		font-size: 35px;
		margin-top: 20%;
	}
	#regis
	{
		color: #fff;
		font-family: 'Regular';
		font-size: 35px;
		text-align: center;
	}
	#regi{
		color: #fff;
		font-family: 'Regular';
		font-size: 20px;
		text-align: center;
	}
	#loginUsername,#loginPassword,#login,#registerEmail,#forgetemail,#reg,#for{
		height:30px;
		margin-top: 5%;
		border-radius: 5px;
		border:none;
	}
	#login,#reg{
		background-color: #00BE9C;
		color:#fff;
		border:none;
		height: 40px;
	}
	#loginStatus
	{
		height: 100px;
		position: absolute;
	}
	#mgoogle,#mfb,#mgit{
		background-color: transparent;
		color: #962D3E;
		border:none;
	}
	#socio{
		margin-top: 60px;
		position: relative;
	}
	#register{
		border-top-width: 2px;
		border-top-color: #962D3E;
		margin-top: 125%;
	}
	#forgetdiv{
		display: none;
	}
	#forget{
		color: white;
		text-decoration: none;
	}
	#forget:hover{
		text-decoration: none;
		cursor: pointer;
	}
	#registerlink{
		color: white;
		text-decoration: none;
	}
	#registerlink:hover{
		text-decoration: none;
		cursor: pointer;
	}
	#line{
		height: 1px;
		box-shadow: 0px 0px 1px #fff;
		background-color: #fff;
		margin-bottom: 10px;
	}
	.blur{
		-webkit-filter: blur(2px); 
		-moz-filter: blur(2px); 
		-o-filter: blur(2px); 
		-ms-filter: blur(2px);
		filter: blur(2px);
	}
	#close:hover{
		cursor: pointer;
	}
	#errormessage,#registerStatus{
		position: absolute;
		margin-left: 5%;
		background-color:#962D3E;
	}
#registerStatus{
	position: absolute;
	height: 100px;

}
.up:before{
	content: '\e61a';
	font-size: 1.8em;
	
	font-family: 'icomoon';
}
