
a {
    color:#636363;
    /*color:#1155bd;*/
}
a:hover {
    text-decoration:none;
}

#wrapper ul, #wrapper li {
    list-style:disc;
}
div#wrapper {
    background:#fff;
   
    
    margin:0 auto;
    padding:15px 20px;
}

ul#nav {
    position:absolute;
    top:.7em;
    right:-7px;
    list-style:none;
    margin:0;
    padding:0;
}
ul#nav li {
    display:inline;
    padding:0 0 0 2px;
    font-size: 1.2em;
    font-weight: bold;
}
ul#nav a, .highlighted {
    background-color:#FFF8AC;
    padding: .3em .4em;
}
ul#nav a {
    padding: .4em .5em;
}

ul.tagit {
    
}



