@font-face{
	font-family: 'Regular';
	src:url('../fonts/segoeuil.ttf');
}
@font-face{
	font-family: 'Bold';
	src:url('../fonts/PrintBold.otf');
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pg451s');
	src:url('../fonts/icomoon.eot?#iefixpg451s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pg451s') format('woff'),
		url('../fonts/icomoon.ttf?pg451s') format('truetype'),
		url('../fonts/icomoon.svg?pg451s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	
	#usrtxtbox,#pwdtxtbox,#cpwdtxtbox,#addtxtbox,#signuptxtbox,#myULTags{
	width:100%;
	font-family: 'Regular';
	font-size: 16px;
	height:35px;
	margin-top: 3%;
	text-align: center;
	border-width: 0px;
	border-radius: 5px;
}
#skilltxtbox{
	font-family: 'Regular';
	font-size: 16px;
	height:40px;
	margin-top: 5%;
	text-align: center;
	border-width: 0px;
	border-radius: 5px;
	width:80%;

}
#show{
	margin-top: 4%;
}

.list{
	height:100px;
	width: 100%;
	background-color: white;
	margin-bottom: 3%;
	border-width: 0px;
	border-radius: 5px;
	overflow-x:hidden;
	overflow-y: scroll;
}
#addtxtbox,#signuptxtbox,#skilltxtbox{
	/*background-image:linear-gradient(to bottom, #962D3E 0px, #962D3E 100%);*/
	background-color: #00BE9C;
	border:none;
	color: white;
	
}

#addtxtbox:hover,#signuptxtbox:hover,#skilltxtbox:hover{
	
	border:none;
}
.added{
	
}
label{
		font-family: 'Regular';
		font-size: 15px;
	}
#signuptxtbox{
	margin-bottom: 10px;
}
.addSkill{
	background-color: #fff;
}

#registerStatus
{
	height: 100px;
	text-align: center;
	
}
label.error{
	color:#E2413E;
}